*{
    box-sizing: border-box;
}
body{
    font-family: monospace;
    margin: 20px 25px;
    font-size: 17px;
    padding: 10px;
}
.container{
    background-color: rgb(253, 247, 239);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* form input[type="submit"]{
    justify-content: center;
    align-items: center;
} */

input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="date"],
select, 
textarea,
fieldset {
    width: 100%;
    padding: 10px;
    margin: 4px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: whitesmoke;
}
input[type="submit"]{
    background-color: rgb(63, 177, 148);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(68, 150, 122);
}
.primary_heading{
    text-align: center;
}
